

.navbar{
	background-color: #e9fef0;
	box-shadow: 1px 1px #e9e9e9;
	z-index: 1;
	text-shadow: 0px 1px #ffffff, 1px 1px 0px #dad7d7;
}

.navbar .container .navbar-header .navbar-brand {
	color: #fbb0c1;
}

.navbar .navbar-menu:hover{
	background-color: #fbfdec;
}

#modal-singup p {
	color: #3f4045;
	margin: 3px;
}

#modal-singup input{
	margin: 5px;
}

.user-img{
	height: 150px;
	width: 150px;
	position: absolute;
	left: 60%;
	top: 15%;
}

.img-user-cancel{
	visibility:hidden;
	position: absolute;
	left: 80%;
	top: 50%;
}

.dropzone{
	margin-top: 10px;
	background-color: olive;
	border-radius:15px;
	height: 150px;
	width: 100%;
	font-size: 50px; 
	font-size-adjust: auto;
	color: black;
	text-align: center;
	
}


#modal-board-reg textarea{
	width: 100%;
	height: 250px;
}

#modal-board-reg .modal-body .board-reg-files .file-div img{
	width: 60px;
	height: 60px;
}

#modal-login .btn-login{
	position: absolute;
	height : 60%;
	width : 30%;
	left: 60%;
	top: 18%;
	background-color: #eeb6f5;
	font-size: xx-large; 
	font-size-adjust: auto;
	text-align: center;
	vertical-align: middle;
}

.secret {
	visibility: hidden;
}




.navbar .dropdown img{
	height: 50px;
	width: 50px;
	border : 3px solid #f9c6fd;
	border-radius: 10px;
}

.navbar .container .navbar-collapse .dropdown .dropdown-menu .navbar-menu{
	background-color: #d2fde1;
}

.upper-container {
	height: 50px;
}






















.div-file-detail{
	height: 300px;
	width: 400px;
	position: fixed;
	background-color: #fdfdfd;
	top: 55%;
	left: 1%;
	z-index: 3;
	border: 2px solid #b6cbf3;
	visibility: hidden;
}

.div-file-header{
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #b6cbf3;
}

.div-file-header button{
	margin: 10px;	
}
.div-file-footer {
	float: right;
}
.div-file-body {
	height: 200px;
	border-bottom: 1px solid #b6cbf3;
	vertical-align: middle;
	text-align: center;
	vertical-align: middle;
}

.div-file-body video{
	width: 400px;
	height: 200px;
}

.div-file-body img{
	max-height: 200px;
	max-width: 400px;
}


.div-file-footer button {
	margin: 10px;
}
.div-file-header{
	text-align: center;
	vertical-align: middle;.
	
}





#div-footer {
	margin-top : 3px;
	width: 100%;
	height: 150px;
	background-color: #e4e4e4;
	border-radius: 10px;
	box-shadow:  1px 1px 3px 2px #aaaaaa;
	text-shadow: 0px 1px #ffffff, 1px 1px 0px #dad7d7;
}

#div-footer .footer-left{
	margin-top: 20px	
	
}

#div-footer .footer-right{
	margin-top: 20px	
}