.board-textareas {
	width: 100%;
	outline : none;
	border: 0px;
	background-color: transparent;
	min-height: 150px;
}
.div-board-body p{
 color: #860414;
 font-style: italic;
}


.navbar{
	background-color: #c2fcd7;
	z-index: 1;
}

.navbar .container .navbar-header .navbar-brand {
	color: #f55478;
}

.navbar .collapse .navbar-custom a{
	color: gray;
}

.navbar .navbar-menu:hover{
	background-color: #f7fbce;
}

.navbar .dropdown img{
	height: 50px;
	width: 50px;
	
}

.navbar .container .navbar-collapse .dropdown .dropdown-menu .navbar-menu{
	background-color: #c2fcd7;
}


.modal .modal-dialog .modal-content .modal-body p{
	color: #433203;
	margin: 3px;
}
.modal .modal-dialog .modal-content .modal-body input{
	margin: 5px;
}
.modal .modal-dialog .modal-content .modal-body .modal-img{
	height: 150px;
	width: 150px;
	position: absolute;
	left: 60%;
	top: 15%;
}
.modal .modal-dialog .modal-content .modal-body .modal-img-cancel{
	visibility:hidden;
	position: absolute;
	left: 80%;
	top: 50%;
}
.dropzone{
	margin-top: 10px;
	background-color: olive;
	border-radius:15px;
	height: 150px;
	width: 100%;
	font-size: 40px; 
	font-size-adjust: auto;
	color: black;
	text-align: center;
}


.modal .modal-dialog .modal-content .modal-body .btn-check{
	background-color: #ee427a;
}

.modal-login .modal-dialog .modal-content .modal-body .btn-custom.btn-login{
	position: absolute;
	left: 60%;
	top: 15%;
	height: 100px;
	width: 150px;	
	background-color: #d2a4cf;
	font-size: x-large;
}

.modal-login .modal-content{
	width: 90%
}

.modal-body .board-textarea{
	width: 100%;
	height: 100px;
}

.modal-body .board-file-list img{
	width: 50px;
	height: 50px;
}
.modal-body .board-reg-div button {
	float: right;
}

.upper-container {
	height: 50px;
}
#homeCarousel{
	height: 600px;
}
#homeCarousel img{
	height: 600px;
	width: 100%;
}
.main-container {
	margin-top: 15px;
}

.carousel-caption h3{
	color: black;
}
.carousel-caption p{
	color: black;
}
.main-container .div-boards .div-board {
	border: 1px solid black;
	border-radius : 30px;
	margin-top: 15px;
	height: auto;
	background-color: #efefef;
	
}
.main-container .div-boards .div-board .div-board-header{
	border-bottom: 1px solid gold;
	
}
.main-container .div-boards .div-board .div-board-header img.profile{
	height: 30px;
	width: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid black;
	border-radius: 8px;
	
}

.main-container .div-boards .div-board .div-board-footer{
	border-top: 1px solid gold;
	height: auto ;	
	min-height: 70px;
}

.main-container .div-boards .div-board .div-board-body{
	white-space:nomal;
	word-break:break-all;
	height: auto;
	min-height: 100px;
}

.main-container .div-boards .div-board .div-board-header .div-board-count img{
	height: 30px;
	width: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	
}

.main-container .div-boards .div-board .div-board-header .div-board-mymsg button{
	margin-top: 10px;
	margin-bottom: 5px;
	margin: 3px;
}

.main-container .div-boards .div-board .div-board-footer div{
	color: #ff0080;
}


.main-container .div-boards .div-board .div-board-footer img{
	margin-top: 8px;
	margin-bottom: 5px;
	height: 50px;
	width: 50px;
	border: 1px solid black;
	border-radius: 8px;
	align: bottom;
	vertical-align: bottom;
	
}



#boardModmodal .modal-dialog .modal-content .modal-body textarea{
	width: 100%;
	min-height: 150px;
}

.modal-body .div-files img{
	width: 50px;
	height: 50px;
}

.div-boards {
	min-height: 500px;
}

#footer{
	margin-top : 3px;
	width: 100%;
	height: 150px;
	background-color: #c2c2c2;
	border-radius: 10px;
	
}

#footer .footer-left{
	margin-top: 20px	
	
}

#footer .footer-right{
	margin-top: 20px	
}

.scroll-top {
	position:  fixed;
	top: 10%;
	left: 90%;
	z-index: 1;	
}

.scroll-bottom {
	position:  fixed;
	top: 80%;
	left: 90%;
	z-index: 1;	
}

.fade.in{
	height: 100%
}


.modal-body-board{
	min-height: 500px;
	border: 1px solid #b6cbf3;
	border-radius: 20px 
}
.modal-body-board-header{
	min-height: 50px;
	border-bottom: 1px solid #b6cbf3;
}
.modal-header-modify button{
	margin: 3px;
}

.modal-body-img-board-header {
	height: 40px;
	width: 40px;
	border: 1px solid #b6cbf3;
	border-radius: 5px ;
	margin-top: 4px
}

.modal-body-img-board-header-count {
	height: 30px;
	width: 30px;
	border: 1px solid #b6cbf3;
	border-radius: 5px ;
	margin-top: 4px
}
.modal-body-textarea {
	border: 0px solid #b6cbf3;
	width: 100%;
	min-height: 500px;
	overflow: inherit;
	outline : none;
	
}


.modal-body-board-footer {
	border-top: 1px solid #b6cbf3;
}

.modal-body-img-board-footer-count{
	border: 1px solid #b6cbf3;
	height: 50px;
	width: 50px;
	margin: 4px
}

.modal-body-reply-start {
	border-bottom: 1px solid #b6cbf3;
} 

.modal-body-reply-one {
	min-height: 100px;
	border: 1px solid #f5cf76;
	border-radius: 20px;
	margin: 10px;
}
.modal-body-reply-one-reg {
	text-align: right;
	border: 1px solid black;
}
.modal-body-reply-one-textarea{
	border: 0px solid #b6cbf3;
	width: 100%;
	min-height: 100px;
	outline : none;
}
.modal-body-reply-register{
	margin: 5px;
}

.modal-body-reply-one-header{
	border-bottom: 1px solid #f4a768;
}


.modal-body-reply-one-header-profile{
	border: 1px solid #feb1eb;
	margin: 5px;
	border-radius:3px;
	height: 40px;
	width: 40px;
}

.modal-body-reply-one-body-text{
	min-height: 90px;
	width: 100%;
	outline : none;
	border: 0px;
}

.modal-body-reply-one-body-text-modyfy{
	min-height: 90px;
	width: 100%;
}

.modal-body-reply-list {
	border-bottom: 1px solid #b6cbf3;
	margin-bottom: 10px
}

.modal-body-reply-one-modyfy{
	margin-top: 10px;
}
.modal-body-reply-one-modyfy button{
	margin: 2px;
}
.modal{
	overflow: auto;
	z-index: 2;
}

.div-file-detail{
	height: 300px;
	width: 400px;
	position: fixed;
	background-color: #fdfdfd;
	top: 55%;
	left: 1%;
	z-index: 3;
	border: 2px solid #b6cbf3;
	visibility: hidden;
}

.div-file-header{
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #b6cbf3;
}

.div-file-header button{
	margin: 10px;	
}
.div-file-footer {
	float: right;
}
.div-file-body {
	height: 200px;
	border-bottom: 1px solid #b6cbf3;
	vertical-align: middle;
	text-align: center;
	vertical-align: middle;
}

.div-file-body video{
	width: 400px;
	height: 200px;
}

.div-file-body img{
	max-height: 200px;
	max-width: 400px;
}


.div-file-footer button {
	margin: 10px;
}
.div-file-header{
	text-align: center;
	vertical-align: middle;.
	
}
 

